*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F8F5;
}
header{
    text-align: center;
    padding: 1%;
    background-color: white;
}
nav{
    position: fixed;
    left: 3%;
    top: 20%;
}
nav>ul{
    border-radius: 50px;
    width: max-content;
    padding: 70%;
    background-color: white;
    list-style: none;
}
nav>ul>li{
    font-size: x-large;
    margin: 3rem 0%;
}
section{
    margin-top: 3%;
    margin-left: 13%;
}
form{
    display: flex;
}
#filter>*{

    padding: 0% 1%;
    border-radius: 10px;
    margin: 0px 10px;
}

#cards{
    margin-top: 5%;
}
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#cards>*{
    margin: 1%;
    transition: all 6s ease-in-out;
    transform: scale(0.5);
}
#cards>*:hover{
    
    z-index: 999;
    box-shadow: 0px 5px 10px black;
}
i{
    font-size: x-large;
}
#imageprincipal{
    display: flex;
    flex-direction: row;
}
#flex{
    margin-left: 20px;
}
#flex>*{
    width: 80%;
}
#flex>div>*{
    margin: 1% 0%;
    width: 49%;
}